*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-image:url(images/1600w-rqkLZyZNeeo.webp) ;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.key{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    transition: transform 0.07s ease;
    align-items: center;
    text-align: center;
    padding:2%;
    width: 4%;
}
.key kbd {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.key span {
    font-size: 10px;
    color: rgb(203, 150, 89);
    margin-top: 4px;
}
.playing{
    transform: scale(1.1);
    border-color: rgb(203, 150, 89);
    box-shadow: 0 0 10px #ffc600;
}
